# intellij
.idea
*.iml
out

# dependencies
*.jar
*.dll
go/*/*
node_modules
package.json
package-lock.json

# compiled files
*.a
*.class
*.exe
*.mod
*.o
*.out
pascal/virtuallet
rust/virtuallet

# runtime files
*.bak
*.db
