# intellij
.idea
*.iml
out

# dependencies
*.jar
*.dll
go/*/*
node_modules
package.json
package-lock.json

# compiled files
*.a
*.ali
*.class
*.exe
*.hi
*.mod
*.o
*.out
*.tasty
*/virtuallet

# runtime files
*.bak
*.db
